{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "react/state-in-constructor": 0,
    "react/forbid-prop-types": 1,
    "react/no-did-update-set-state": 1,
    "react/no-array-index-key": 1,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/label-has-associated-control": 1,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  }
}
